body {
  background-color: antiquewhite;
}

.container {
  display: flex;
  height: 100vh;
  
}

.navleft {
  display: flex;
  width: 50%;
  height:100px;
  background-color: blue;
}

.navcenter {
  display: flex;
  justify-content: center;
  flex-direction:row
  width: 50%;
  height:100px;
  background-color: rgb(86, 224, 206);
}


.icondiv {
  width: 40px;
  height: 40px;
  margin: 20px;

}

.menucenter {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  
}

nav ul li {
  display: inline-block;

}
